@import '../../styles/utils/variables.scss';

.projects__wrapper {
  @include flex-column-center-center;

  margin: 0 auto;
  max-width: 1200px;
  padding: 0 $margin-large;

  position: relative;
  animation: fadeIn 500ms ease-in-out forwards;
}

.project-header {
  @include title;
}

.wrapper {
  margin-bottom: $margin-xxlarge;
}

// Animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
