@import '../../styles/utils/variables.scss';

.projects__wrapper {
  @include flex-column-center-center;

  margin: 0 auto;
  max-width: 1200px;
  // border: 10px solid yellow;

  position: relative;
  animation: fadeIn 500ms ease-in-out forwards;
}

.projects__title {
  @include title;
}

.wrapper {
  margin-bottom: $margin-xxlarge;
}
