@import '../../../styles/utils/variables.scss';

.button {
  padding: 1.3em 1.3em;
  background: $color-primary;
  border: 1px solid $color-secondary;
  color: $color-secondary;
  cursor: pointer;
  font: {
    size: 0.8rem;
    weight: 700;
    color: $color-secondary;
  }
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $color-tertiary;
  }
}
