@import '../../styles/utils/variables.scss';

.hero {
  @include flex-row;
  justify-content: space-around;
  align-items: center;
  margin: $margin-header 0;

  @media screen and (max-width: $breakpoint-1440px) {
    margin: $margin-xlarge 0;
    padding: $margin-large;
  }

  @media screen and (max-width: $breakpoint-1024px) {
    @include flex-column;
    margin: $margin-medium 0;
    padding: 0;
  }

  @media screen and (max-width: $breakpoint-425px) {
    margin: $margin-small 0;
  }
}

.hero__description {
  @include flex-column;
  width: 50%;

  @media screen and (max-width: $breakpoint-1024px) {
    width: 100%;
    padding: $margin-large;
  }
}

.hero__picture {
  width: 40em;

  @media screen and (max-width: $breakpoint-1440px) {
    width: 50%;
  }
}

.hero__title {
  font-family: "Lexend Exa", sans-serif;
  font-size: $fs-logo-large;
  font-weight: 700;
  text-align: center;

  @media screen and (max-width: $breakpoint-1440px) {
    font-size: $fs-logo;
  }

  @media screen and (max-width: $breakpoint-768px) {
    font-size: $fs-xxl;
  }
}

.hero__text {
  text-align: center;
  line-height: 1.5;
  font-size: $fs-lg;
  margin-bottom: $margin-large;

  @media screen and (max-width: $breakpoint-1440px) {
    font-size: $fs-sm;
  }

  @media screen and (max-width: $breakpoint-425px) {
    font-size: $fs-default;
  }
}

.hero__subtitle,
.hero__subtitle2 {
  font-size: $fs-lg;
  font-weight: 700;
  text-align: center;
  margin-bottom: $margin-medium;
}

.hero__subtitle2 {
  margin-bottom: $margin-large;
  color: var(--color-tertiary);
}
