@import '../utils/variables.scss';


.btn-projects-container {
  @include flex-row-center-center;
  margin-top: $margin-large;
  margin-bottom: $margin-xxlarge;

  @media screen and (min-width: $breakpoint-768px) {
    display: none;
  }

  @media screen and (max-width: $breakpoint-425px) {
    margin-top: 0;
    margin-bottom: $margin-xlarge;
  }
}
