@import '../utils/variables.scss';

.notfound-wrapper {
  @include flex-column-center-center;
  height: 100vh;
}

.notfound-title {
  @include title;
  font-size: $fs-xxl;
  text-align: center;
}

.notfound-link {
  @include link;
  font-size: $fs-lg;
  color: var(--color-tertiary);
}
