@import '../utils/variables.scss';

.notfound-wrapper {
  @include flex-column-center-center;
  height: 100vh;
}

.notfound-title {
  @include title;
  font-size: $font-size-xlarge;
  text-align: center;
}

.notfound-link {
  @include link;
  font-size: $font-size-large;
  color: $color-tertiary;

}

