@import '../utils/variables.scss';

.projects {
  @include flex-row;
  justify-content: center;
  position: relative;
  animation: fadeIn 500ms ease-in-out forwards;

  &-body {
    @include flex-column-center-center;
    // border: 10px solid red;
    padding: $margin-xlarge;

    @media screen and (min-width: $breakpoint-large) {
      width: 50%;
    }
  }

  &-header {
    display: flex;
    justify-content: center;
    font-size: $font-size-logo;
    font-weight: $font-weight-bold;
  }

  &-subtitle {
    font-size: $font-size-large;
  }

  &-description {
    font-size: $font-size-medium;
    margin-top: $margin-xlarge;
    white-space: pre-line;
    line-height: 1.3;
    width: 100%;
  }

  &-link {
    @include flex-row-center-center;
    gap: 2em;
    margin-bottom: $margin-xlarge;
  }
}

.picture-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $margin-large;
  width: 50%;
  height: 100vh;
  padding: $margin-large;

  .picture-row {
    display: flex;
    row-gap: $margin-large;
    column-gap: $margin-large;
    justify-content: center;
    
  }

  .picture-img {
    overflow: hidden;
    border-radius: 10px;
  }

  .img-full {
    width: 740px;
  }

  .img-half {
    width: auto;
  }

  & img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.objectives-container {
  margin: $margin-large 0;
  font-size: $font-size-medium;
  line-height: 1.5;
  white-space: pre-line;
  // border: 10px solid green;
  width: 100%;
}

.technologies-container {
  background: $color-primary;
  border-radius: 50px;
  margin-bottom: $margin-xlarge;
  white-space: pre-line;
  // border: 10px solid yellow;
  width: 100%;
  padding: $margin-small;

  & ul {
    @include flex-row-center-center;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none;
  }
}

hr {
  border: 1px solid $color-tertiary;
}
