@import '../utils/variables.scss';

.projects {
  @include flex-row;
  justify-content: center;
  padding: 0 $margin-xlarge;
  margin-bottom: $margin-xlarge;
  gap: 20px;
  animation: fadeIn 500ms ease-in-out forwards;

  &-body {
    @include flex-column;
    width: 50%;
    padding: $margin-small;
  }

  &-header {
    display: flex;
    justify-content: center;
    font-family: "Lexend Exa", sans-serif;
    font-size: $fs-logo;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-bottom: $margin-large;
  }

  &-subtitle {
    font-size: $fs-lg;
    text-align: center;
    padding-bottom: $margin-medium;
    border-bottom: 1px solid var(--color-tertiary);
    width: 100%;
  }

  &-description {
    font-size: $fs-sm;
    margin-top: $margin-large;
    white-space: pre-line;
    line-height: 1.3;
    width: 100%;
  }

  &-link {
    @include flex-row-center-center;
    gap: 3em;
    margin-bottom: $margin-xlarge;

    .button {
      padding: 1em 2em;
    }
  }

  @media screen and (max-width: $breakpoint-1440px) {
    &-body {
      padding: $margin-medium;
    }
    &-header {
      margin-top: $margin-large;
      font-size: $fs-logo;
    }
  }

  @media screen and (max-width: $breakpoint-1024px) {
    flex-direction: column-reverse;
    padding: 0 $margin-medium;

    &-body {
      padding: $margin-small;
      width: 100%;
    }
  }

  @media screen and (max-width: $breakpoint-768px) {
    &-header {
      font-size: $fs-xxl;
      text-align: center;
      margin: 0;
    }

    &-subtitle {
      font-size: $fs-md;
      text-align: center;
      margin-bottom: $margin-large;
    }

    &-description {
      margin-top: $margin-large;
      margin-bottom: $margin-large;
    }

    &-link {
      margin-bottom: $margin-large;
    }
  }

  @media screen and (max-width: $breakpoint-425px) {
    padding: 0 $margin-small;

    &-description {
      font-size: $fs-default;
    }

    &-link {
      gap: 1em;
    }
  }

  @media screen and (max-width: $breakpoint-375px) {
    &-header {
      font-size: 2em;
      text-align: center;
    }

    &-description {
      margin-top: $margin-large;
      font-size: $fs-default;
      line-height: 1.25;
    }
  }
}

.picture-container {
  @include flex-column;
  justify-content: center;
  align-items: center;
  width: 50%;
  row-gap: $margin-xsmall;

  .picture-row {
    display: flex;
    justify-content: center;
    column-gap: $margin-xsmall;
    max-width: 80%;
  }
 
  .picture-img {
    overflow: hidden;
    border-radius: 10px;
  }

  .img-full,
  .img-half {
    width: auto;
  }

  & img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-gray-light);
  }

  @media screen and (max-width: $breakpoint-1440px) {
    padding-left: $margin-large;

    .row-1 {
      row-gap: $margin-xsmall;
    }
  }

  @media screen and (max-width: $breakpoint-1024px) {
    height: auto;
    width: 100%;
    padding: 0;

    .picture-row {
      @include flex-column-center-center;
    }
  }

  @media screen and (max-width: $breakpoint-768px) {
    .img-full {
      width: 90%;
    }
    .img-half {
      display: none;
    }
  }
}

.objectives-container {
  margin: $margin-large 0;

  @media screen and (max-width: $breakpoint-768px) {
    margin: $margin-medium 0;
  }

  @media screen and (max-width: $breakpoint-425px) {
    font-size: $fs-default;
  }

  .objectives-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    font-size: $fs-md;
    line-height: 1.5;
    padding: $margin-medium 0;

    @media screen and (max-width: $breakpoint-1024px) {
      font-size: $fs-sm;
    }
  }
}

.technologies-container {
  margin-top: $margin-large;
  margin-bottom: $margin-xlarge;
  width: auto;
  color: var(--color-tertiary);

  & ul {
    @include flex-row-center-center;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none;
  }

  @media screen and (max-width: $breakpoint-1024px) {
    margin-bottom: $margin-large;
    margin-top: $margin-medium;
  }

  @media screen and (max-width: $breakpoint-375px) {
    margin-top: 0;
  }
}
