@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=M+PLUS+1:wght@100..900&display=swap');

@import './utils/reset.scss';
@import './utils/variables.scss';

@import '../components/Header/header.scss';

body {
  font-family: "M PLUS 1", sans-serif;
  font-size: $fs-sm;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-icon {
  color: var(--color-primary);

  &:hover {
    color: var(--color-tertiary);
  }
}

.button {
  padding: 1.3em 1.3em;
  background: var(--color-primary);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  cursor: pointer;
  font: {
    size: 0.8rem;
    weight: 700;
  }
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: var(--color-tertiary);
  }
}
