@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

@import './utils/reset.scss';
@import './utils/variables.scss';

@import '../components/Header/header.scss';

body {
  font-family: 'Cabin', sans-serif;
  font-size: $font-size-default;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-left: $margin-header;

  @media screen and (max-width: $breakpoint-large) {
    margin-left: 0;
    margin-top: $margin-header-mobile;
  }
}

.link-icon {
  color: var(--color-primary);
 
  &:hover {
    color: var(--color-tertiary);
  }
}
