@import '../../styles/utils/variables.scss';

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $margin-xxlarge;

  @media screen and (max-width: $breakpoint-425px) {
    margin-bottom: $margin-xlarge;
  }
}

.about__content {
  @include flex-row-center-center;
  width: 70%;

  @media screen and (max-width: $breakpoint-1440px),
    screen and (max-width: $breakpoint-768px) {
    width: 90%;
  }

  @media screen and (max-width: $breakpoint-1024px) {
    flex-direction: column;
  }

  @media screen and (max-width: $breakpoint-768px) {
    flex-direction: column;
  }
}

.about__text {
  width: 70%;
  padding: $margin-xlarge;
  line-height: 1.5;

  @media screen and (max-width: $breakpoint-1440px) {
    padding: $margin-large;
  }

  @media screen and (max-width: $breakpoint-1024px),
    screen and (max-width: $breakpoint-768px) {
    width: 90%;
    padding: 0 $margin-medium;
  }

  @media screen and (max-width: $breakpoint-425px) {
    width: 100%;
    padding: 0 $margin-small;
  }
}

.about__img {
  width: 300px;
  height: 300px;
  object-fit: cover;

  @media screen and (max-width: $breakpoint-1024px) {
    margin-top: $margin-medium;
  }

  @media screen and (max-width: $breakpoint-425px) {
    width: 200px;
    height: 200px;
  }
}

.about__quote {
  margin-top: $margin-xlarge;
  font-size: $fs-lg;
  font-weight: $font-weight-bold;
  text-align: center;
  color: var(--color-tertiary);
  padding: 0 $margin-medium;

  @media screen and (max-width: $breakpoint-1024px) {
    font-size: $fs-md;
    width: 70%;
  }
}
