@import '../../styles/utils/variables.scss';

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $margin-xxlarge;
}

.about__title {
  @include title;
}

.about__content {
  @include flex-row-center-center;
  width: 70%;

  @media screen and (max-width: $breakpoint-xlarge),
         screen and (max-width: $breakpoint-medium) {
    width: 90%;
  }

  @media screen and (max-width: $breakpoint-large) {
    flex-direction: column;
  }

  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.about__text {
  width: 70%;
  padding: $margin-xlarge;
  line-height: 1.5;
  font-size: $font-size-medium;
  text-align: justify;

  @media screen and (max-width: $breakpoint-xlarge) {
    padding: $margin-large;

  }
  
  @media screen and (max-width: $breakpoint-large),
         screen and (max-width: $breakpoint-medium) {
    width: 90%;
    font-size: $font-size-default;
    
  }

  @media screen and (max-width: $breakpoint-small) {
    width: 100%;
    padding: $margin-large $margin-small;
  }
}

.about__img {
  width: 30%;
  object-fit: cover;
}