@import '../../styles/utils/variables.scss';

#main-slider-container {
  width: auto;
  height: auto;
  margin-bottom: $margin-xxlarge;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $breakpoint-425px) {
    margin-bottom: $margin-xlarge;
  }
}


#slider {
  width: calc(1200px + 2 * $margin-large);
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-left: $margin-large;
  margin-right: $margin-large;
  scrollbar-width: none; // Firefox only

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Edge
  }

  @media screen and (max-width: $breakpoint-1440px) {
    width: 840px;
  }

  @media screen and (max-width: $breakpoint-1024px) {
    width: 420px;
  }

  @media screen and (max-width: $breakpoint-425px) {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }
}

.slider-icon.left,
.slider-icon.right {
  background-color: var(--color-primary);
  border-radius: 100%;
  color: var(--color-secondary);
}

.slider-icon.left:hover,
.slider-icon.right:hover {
  background: var(--color-tertiary);
}

.slider-card {
  width: 400px;
  height: auto;
  background: var(--color-gray-light);
  border: 1px solid var(--color-tertiary);
  border-radius: 25px;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;

  @media screen and (max-width: $breakpoint-425px) {
    width: 280px;
  }
}

.card-img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  background: var(--color-tertiary);
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;

  &-header {
    width: 100%;
    padding: 15px;
    background: var(--color-tertiary);
    color: var(--color-secondary);
    font-size: $fs-lg;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-top: $margin-large;

    @media screen and (max-width: $breakpoint-425px) {
      font-size: $fs-sm;
    }
  }

  &-info {
    width: auto;
    height: 100px;
    background: var(--color-gray-light);
    color: #000;
    font-size: $fs-sm;
    text-align: center;
    margin-top: $margin-large;
    white-space: normal;
  }
}
