/* Colors */

$background-color: #141313; 
$text-color: #fff;
$font-family: 'Readex Pro', sans-serif;
$font-size-default: 1rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 3rem;
$font-weight: 400;
$font-weight-bold: 700;

/* Layout */

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 @mixin flex-column {
  display: flex;
  flex-direction: column;
 }

 /* Margin & Padding */

 $margin-default: 1rem;
 $margin-small : 2rem;
 $margin-large: 5rem;