@import './mixins';

:root {
  /* Colors */
  --color-primary: #eeeeee;
  --color-secondary: #000;
  --color-tertiary: #47ae5d;
  --color-tertiary-dark: #1f4d29;
  --color-gray-light: #f5f5f5;
}

/* Margin & Padding */
$margin-xsmall: 0.5rem;
$margin-small: 1rem;
$margin-medium: 1.5rem;
$margin-large: 2rem;
$margin-xlarge: 5rem;
$margin-xxlarge: 10rem;

$margin-header: 9rem;
$margin-header-mobile: 6rem;

/* Fonts */
$fs-default: 1rem;

$fs-xs: 0.8rem;
$fs-sm: 1.2rem;
$fs-md: 1.5rem;
$fs-lg: 2rem;
$fs-xl: 2.5rem;
$fs-xxl: 3rem;

$fs-logo-mobile: 3rem;
$fs-logo: 5rem;
$fs-logo-large: 7rem;

$fs-main-title: 9rem;
$fs-section-title: 4.5rem;

$font-weight-bold: 700;

/* Breakpoints */
$breakpoint-375px: 375px;
$breakpoint-425px: 425px;
$breakpoint-768px: 768px;
$breakpoint-1024px: 1024px;
$breakpoint-1440px: 1440px;
