@import '../../styles/utils/variables.scss';

.header {
  @include flex-row-center-center;
  justify-content: space-between;
  width: 100%;
  padding: $margin-xlarge $margin-xlarge;

  @media screen and (max-width: $breakpoint-1024px) {
    padding: $margin-large $margin-large;
  }

  @media screen and (max-width: $breakpoint-425px) {
    padding: $margin-small $margin-small;
  }

  .header__logo {
    font-size: $fs-logo-large;
    color: var(--color-primary);

    @media screen and (max-width: $breakpoint-1440px) {
      font-size: $fs-logo;
    }
 
    @media screen and (max-width: $breakpoint-425px) {
      font-size: $fs-logo-mobile;
    }
  }

  .nav-wrapper {
    @include flex-row-center-center;
  }

  .header__nav {
    @include flex-column;
    padding-left: $margin-large;

    @media screen and (max-width: $breakpoint-1024px) {
      @include flex-row-center-center;
      gap: 15px;
    }

    @media screen and (max-width: $breakpoint-425px) {
      gap: 10px;
    }

    & a {
      @include link;
      font-size: $fs-xl;
      font-variant: small-caps;
      color: var(--color-primary);

      &.active {
        color: var(--color-tertiary);
        font-weight: $font-weight-bold;
      }

      &:hover {
        color: var(--color-tertiary);
      }

      @media screen and (max-width: $breakpoint-1024px) {
        display: flex;
        font-size: $fs-md;
      }
    }

  }
}

.theme-switcher {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;

  svg {
    width: $fs-xl;
    height: $fs-xl;
    fill: var(--color-primary);

    @media screen and (max-width: $breakpoint-425px) {
      width: $margin-medium;
      height: $margin-medium;
    }
  }
}
