@import '../../styles/utils/variables.scss';

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: $margin-header;
  height: 100vh;
  padding-top: $margin-xlarge;
  padding-bottom: $margin-large;
  background-color: $color-secondary;
  // border-right: 1px solid $color-tertiary;

  @include flex-column;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint-large) {
    width: 100%;
    height: $margin-header-mobile;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $margin-large;
    // margin-top: $margin-medium;
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: 0 $margin-medium;
    margin-top: 0;
  }

  .header__logo {
    @include link;
    @include flex-column-center-center;

    font-size: $font-size-logo;
    color: $color-primary;

    @media screen and (max-width: $breakpoint-large) {
      height: $margin-header-mobile;
      font-size: $font-size-logo;
    }

    @media screen and (max-width: $breakpoint-small) {
      font-size: $font-size-logo-mobile;
    }
  }

  .header__nav {
    @include flex-column;
    padding-left: $margin-large;

    @media screen and (max-width: $breakpoint-large) {
      @include flex-row;
      align-items: center;
      padding: 0;
      gap: $margin-large;
    }

    @media screen and (max-width: $breakpoint-small) {
      gap: $margin-medium;
    }

    & a {
      @include link;
      color: $color-primary;
      font-size: $font-size-medium;
      text-transform: uppercase;

      &.active {
        color: $color-tertiary;
      }

      @media screen and (max-width: $breakpoint-large) {
        font-size: $font-size-default;
      }
      @media screen and (max-width: $breakpoint-small) {
        font-size: $font-size-default;
      }

      &:hover {
        color: $color-tertiary;
      }
    }
    @media screen and (max-width: $breakpoint-xsmall) {
      display: none;
    }
  }
}
