@import '../../styles/utils/variables.scss';

.footer {
  @include flex-column-center-center;
  height: 50px;
  padding: $margin-large;
  width: 100%;

  &__text {
    @include flex-column-center-center;
    color: var(--color-primary);

    @media screen and (max-width: $breakpoint-425px) {
      font-size: $fs-xs;
    }
  }

  &__subtext {
    color: var(--color-tertiary);
    font-weight: 700;

    @media screen and (max-width: $breakpoint-425px) {
      font-size: $fs-xs;
    }
  }
}
